:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

.grid-item {
    padding: 0em;
    border: 1px solid #ddd;
    background-color: transparent;
    text-align: center;
    font-size: 0.5vw;
    aspect-ratio: 1;
    z-index: 3;
}

.dashboard {
    font-family: "Courier New";
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.notes {
    font-family: "Courier New";
    font-size: 12px;
}

.inlined-middle {
    display: inline-block;
    vertical-align: middle;
}
