:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    grid-gap: 0;
    #grid-template-rows: repeat(200, minmax(1vw, 1vw));
    grid-template-columns: repeat(var(--grid-cols), minmax(1.9vw, 1.9vw));
    #grid-template-rows: repeat(var(--grid-rows), auto 1fr auto);
    #grid-template-columns: repeat(var(--grid-cols), auto 1fr auto);
}

.grid-item {
    padding: 0em;
    border: 1px solid #ddd;
    background-color: transparent;
    text-align: center;
    font-size: 0.5vw;
    aspect-ratio: 1;
    z-index: 3;
}

.dashboard {
    font-family: "Courier New";
    font-size: 14px;
    font-weight: bold;
}

.notes {
    font-family: "Courier New";
    font-size: 10px;
}
